@utility button {
  appearance: none;
  border: none;
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 0.2em;
  background-color: var(--color-primary);
  outline: none;
  transition: box-shadow 300ms ease;
  --ring-color: var(--color-primary-transparent);

  &:hover {
    box-shadow: 0 0 0 0.25em var(--color-primary-transparent);
  }

  &:focus-visible {
    box-shadow: 0 0 0 0.27em var(--color-primary-transparent);
  }

  &:active {
    box-shadow: 0 0 0 0.1em var(--color-primary-transparent);
  }

  &:disabled {
    background-color: var(--color-neutral-500);
    color: var(--color-white);
    cursor: not-allowed;
    box-shadow: none;
  }
}
