*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  color: var(--color-secondary);
  background-color: hsl(258, 23%, 80%);
}

input,
button {
  font: inherit;
}

:where(button, [role="button"]) {
  cursor: pointer;
}
