@import "@fontsource-variable/roboto-flex";
@import "tailwindcss";
@import "./styles/variables.css";
@import "./styles/buttons.css";

@theme {
  --color-primary: hsl(270deg 50% 40%);
  --color-secondary: hsl(249deg 43% 21%);
  --color-primary-transparent: hsl(270deg 50% 40% / 0.5);
  --color-secondary-transparent: hsl(249deg 43% 21% / 0.5);
  --color-accent: var(--color-primary);
  --default-font-family: "Roboto Flex Variable", var(--font-sans);
}

html,
body {
  height: 100%;
}

body {
  color: hsl(222 47% 11%);
  background-color: hsl(220 23% 96%);
}

:where(button, [role="button"]) {
  cursor: pointer;
}
